body {
    background-color: #e0e0e0;
}

#container {
    height: 80%;
    width: 80%;
    padding: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 60px auto;
    /* off-white background */
    background-color: #F9F9F9;
}

/* When cursor hovers over a link that is not active, the font will be change colors. */
nav a:hover:not(.active) {
    color: black;
}

nav ul, footer ul { 
    font-size: 1em; 
    font-family: 'Raleway', 'Arial', serif; 
    padding: 0px; 
    list-style: none; 
    font-weight: bold; 
}

nav ul li, footer ul li { 
    display: inline; 
    margin-right: 20px; 
}

footer { 
    border-top: 1px solid #d5d5d5; 
    font-size: .8em; 
}

/* Styling of the anchors in nav bar and footer */
nav a, footer a { 
    text-decoration: none; 
    color: slategray; 
}

/* All anchors not in the nav bar or footer */
a {
    text-decoration: none;
    /* light gray-blue color */
    color: rgb(2, 127, 206);
}

/* Links turn black when mouse hovers over them. */
a:hover { color: black; }

p, ul { font-size: 1.5em; line-height: 1.4em; color: #404040; font-family: 'Raleway', 'Calibri', sans-serif; }

h1, h2, h3, h4 { font-family: 'Playfair Display', 'Arial', sans-serif; }
h1 { font-size: 3em;  }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }

