body {
    background-color: #e0e0e0;
}

#container {
    height: 80%;
    width: 80%;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 60px auto;
    /* medium grey background */
    background-color: rgb(250, 250, 250);
}


/* Nav bar will take up 85% of the body */
nav {
    width: 85%;
}
nav ul {
    list-style-type: none;
    margin: 20;
    padding: 0;
    display: inline-block;
    text-align: left;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #f3f3f3;
}

nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    display: inline;
    color: #666;
}

/* Target just the anchors in nav. */
nav a {
    text-decoration: none;
    display: block;
    transition: .3s background-color;
}

/* Add a feature that changes the color and transparency of the link we are hovering over. */
nav a:hover {
    background-color: #E8E8E8;
}

/* Changes the background color of the link/tab that the user has currently selected. */
nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

