body {
    background-color: #e0e0e0;
}

#container {
    height: 80%;
    width: 80%;
    padding: 51px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 60px auto;
    /* medium grey background */
    background-color: rgb(252, 252, 252);
}

/* When cursor hovers over a link that is not active, the font will be change colors. */
nav a:hover:not(.active) {
    color: black;
}

nav ul, footer ul { 
    font-size: 1em; 
    font-family: 'Arial', 'Arial', 'Sans-Serif'; 
    padding: 0px; 
    list-style: none; 
    font-weight: bold; 
}

nav ul li, footer ul li { 
    display: inline; 
    margin-right: 20px; 
}

footer { 
    border-top: 1px solid #d5d5d5; 
    font-size: .8em; 
}

a { 
    text-decoration: none; 
    color: slategray; 
}

a:hover { color: black; }

p, ul { font-size: 1.5em; line-height: 1.4em; color: #333; }

h1, h2, h3, h4 { font-family: 'Arial', 'Arial', 'Sans-Serif'; }
h1 { font-size: 3em;  }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }

