.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 20;
    text-align: left;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    display: inline;
    color: #666;
}

//Target just the anchors in nav.
.nav a {
    text-decoration: none;
    display: block;
}

//Add a feature that changes the color and transparency of the link we are hovering over.
.nav a:hover {
    background-color: #005f5f;
    transition: .3s background-color;
}

//Changes the background color of the link/tab that the user has currently selected.
.active {
    background-color: #4CAF50;
}

//If on a screen bigger than 600px, nav bar will be horizontal.
//Otherwise it'll be vertical.
  @media screen and (min-width: 600px) {
    .nav li {
      width: 120px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
    }
  }
