<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/style.css">
			<link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
		</head>
		<body>
			<div id="container">
				<nav>
	    			<ul>
	        			<li><a href="/">home</a></li>
		        		<li><a href="/about">about</a></li>
	        			<li><a href="/projects">projects</a></li>
	    			</ul>
				</nav>
			
				{{ content }}
			
				<footer>
	    			<ul>
	        			<li><a href="mailto:philip87@vt.edu">email</a></li>
	        			<li><a href="https://github.com/lungpc">github.com/lungpc</a></li>
					</ul>
				</footer>
			</div>
		</body>
	</html>
